﻿@inherits UmbracoTemplatePage

@section Supercharger
{
    <!--supercharger-o-meter-->
}

<section id="call">
    <h3 class="text-center banner divider">Cached Partial</h3>
    <div class="container">
        <div class="col-md-12">
            <p class="text-center intro">
                This gallery is served via a cached <strong>MVC Partial</strong> named 'Gallery List'. The cache purges every 5 seconds.
                <br/>
                Just to make things obvious if the gallery isnt coming from cache it also has a deliberate <strong>5 second delay</strong>.
            </p>
        </div>
        


        @Html.CachedPartial("_GalleryList", null, 5)
        
        

        <h4 class="text-center banner divider">The Code</h4>
        <div class="col-md-12">
            <div>
                <pre><code>@@Html.CachedPartial("_GalleryList", null, 5000)</code></pre>
            </div>

            <div>
                <pre><code>IHtmlString CachedPartial(
                    string partialViewName,
                    object model,
                    int cachedSeconds,
                    bool cacheByPage = false,
                    bool cacheByMember = false,
                    ViewDataDictionary viewData = null)
                </code></pre>
            </div>
        </div>

    </div>
</section>