﻿@inherits UmbracoTemplatePage

<section id="call">
    <h3 class="text-center banner divider">Donut Output Cache</h3>
    <div class="container">
        <div class="col-md-12">
            <p class="text-center intro">
                This page is served using the <strong>Dounut Cache</strong>. The main action is cached for one hour but will clear with a publish.
            </p>
        </div>
        
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info">
                <h5>Main view last generated @DateTime.Now.ToString("HH:mm:ss tt")</h5>
            </div>
        </div>
        
        <div class="col-md-12"><p class="info"> </p></div>
        
        <p>
            The timestamp below is specified to be excluded from the parent cache (the donut hole).
            So on render the timestamp will update very time where the timestamp above remains constant.
        </p>

    

        <h4 class="text-center banner divider">The donut hole</h4>
        @Html.Action("Timestamp", "DonutSurface", true)
        
        

        <div class="col-md-12"><p class="info"> </p></div>

        <h4 class="text-center banner divider">The Code</h4>
        <div class="col-md-12">
            <div>
                <pre><code>@@Html.Action("Timestamp", "DonutSurface", true)</code></pre>
            </div>
        </div>
    </div>
</section>