﻿@inherits UmbracoTemplatePage
@{
   
}

<h3 class="text-center banner divider">Umbraco Caches</h3>
<div class="col-md-12">
    <p class="text-right intro">Demo'd at Codegarden 2014, Copenhagen</p>
</div>
<div class="col-md-10 col-md-offset-1">
    <h4 id="siteTagline" class="text-center info">This is a website showcasing how you can Supercharge your Umbraco website.</h4>
</div>
<div class="col-md-10 col-md-offset-1">
    <p class="text-center info">Warning most pages on this site have page load delays purposefully built in.</p>
</div>