﻿@inherits UmbracoTemplatePage

@section Supercharger
{
    <div class="container">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info">
                <h4>This page was last generated @DateTime.Now.ToString("HH:mm:ss tt")</h4>
            </div>
        </div>
    </div>
}
<section id="call">
    <h3 class="text-center banner divider">MVC Output Cache</h3>
    <div class="container">
        <div class="col-md-12">
            <p class="text-center intro">
                This gallery is served using the <strong>MVC Output Cache</strong>. The cache will purge every 10 seconds.
                <br />
                Just to make things obvious if the gallery isnt coming from cache it also has a deliberate <strong>5 second delay</strong>.
            </p>
        </div>


        <!-- This does not have anything to do with caching
            we're simply re-using the markup in the partial -->
        @Html.Partial("_GalleryList")



        <h4 class="text-center banner divider">The Code</h4>
        <div class="col-md-12">
            <div>
                <pre><code>[OutputCache(Duration = 10)]</code></pre>
            </div>
        </div>
    </div>
</section>
