﻿@inherits UmbracoTemplatePage

<h3 class="text-center">Last generated</h3>
<h3 class="text-center">@DateTime.Now.ToString("HH:mm:ss tt")</h3>
<div class="col-md-12">
    <p class="text-center info">
        When ran through a varnish cache such as <br/>
        <a href="http://varnish.umbracocaches.detangled-digital.com/varnish/" target="_blank">http://varnish.umbracocaches.detangled-digital.com/varnish/</a><br/>
        this dynamic time stamp will become static between CMS publishes<br/>
        with a handler to <a href="https://www.varnish-cache.org/docs/3.0/tutorial/purging.html" target="_blank">run a PURGE</a>.
    </p>
</div>