﻿@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Raleway:400,100,200,300,500,600,700,800,900);

/* Fonts styles 
---------------------------------------*/
body {
	color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: 'Raleway';
  color: white;
}

h1 {
  font-weight: 900;
  font-size: 120px;
}

h2 {
  font-weight: 700;
  font-size: 90px;
}

h3 {
  font-weight: 700;
  font-size: 50px;
}

h4 {
  font-weight: 400;
  font-size: 30px;
}

h5 {
  font-weight: 400;
  font-size: 25px;
}

p, ul li {
  font-weight: 200;
  font-size: 20px;
}

.subPage h3 {
  margin-top: 100px;
}
.subPage h4 {
  margin-top: 40px;
}
.subPage h5 {
  margin-top: 40px;
}

/* Site styles 
---------------------------------------*/
body {
  background-color: #333;
  background-image: url("../media/1028/bgtexturedarkhd.jpg");
}

#pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.bannerImg {
  width: 100%;
}

.banner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bigBtn, #getTicket, #printThis {
  color: white;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 50px;
}

.opaqueImg {
  opacity: 0.6;
  transition: opacity 50ms linear;
}
.opaqueImg:hover {
  opacity: 1;
}

.divider {
  border-bottom: 1px solid rgba(204, 204, 204, 0.09);
}

.bs-callout-info {
    background-color: #428bca;
    border-color: #428bca;
}
.bs-callout-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

a.btnLink:hover {
	text-decoration: none;
}

p.intro { margin-bottom: 50px; }
p.info { margin-top: 50px; }

/* NAVIGATION
---------------------------------------*/
nav#main {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  background-color: rgba(51, 51, 51, 0.9);
  background-image: url("../media/1028/bgtexturedarkhd.jpg");
  transition: box-shadow 300ms ease-in-out;
  border-bottom: 1px solid rgba(204, 204, 204, 0.09);
}
nav#main .navContainer {
  width: 100%;
  height: 100%;
  transition: background-color 300ms ease-in-out;
}
nav#main .container {
  padding: 0;
}
nav#main .navContainer .container {
  position: relative;
}
nav#main #homeLink img {
  width: 142px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}
@media (min-width: 768px) {
  nav#main #homeLink {
    position: absolute;
    left: 0;
  }
  nav#main #homeLink img {
    margin-top: 13px;
	float: left;
  }
}
nav#main ul {
  display: inline-block;
  float: right;
  margin: 0;
}
nav#main li {
  display: block;
  margin-right: 25px;
}
@media (min-width: 768px) {
  nav#main li {
    float: left;
  }
}
nav#main li a {
  display: inline-block;
  width: 100%;
}
nav#main li a p {
  margin: 20px 0;
  color: #CFCFCF;
}
nav#main .menuItem {
  transition: height 300ms ease-in-out;
}
@media (max-width: 767px) {
  nav#main .menuItem {
    height: 0;
    overflow: hidden;
  }
  nav#main .showMobile {
    height: 50px;
  }
}


nav#main #mainTickets {
  overflow: hidden;
  width: 0px;
  transition: width 300ms ease-in-out;
}
@media (max-width: 767px) {
  nav#main #mainTickets {
    float: right;
    margin-bottom: 8px;
  }
}
nav#main #mainTickets button {
  margin-top: 18px;
  margin-bottom: 5px;
	@media (max-width: 767px) {
		margin-top: 15px;
		margin-bottom: 6px;
	}
}
nav#main #mainTickets button p {
  margin: 5px 0;
  color: white;
}

.docked {
	box-shadow: 0px 0px 0px rgb(36, 35, 35);
	border-bottom: 1px solid rgba(204, 204, 204, 0.09);
}

.docked .navContainer {
	background-color: rgba(0,0,0,0);
}

.scrolled {
	box-shadow: 1px 1px 9px rgb(36, 35 ,35);
	border-bottom: none;
}

.scrolled .navContainer {
	background-color: rgba(0,0,0,0.1);
}

#mobileNav {
  display: none;
}
@media (max-width: 767px) {
  #mobileNav {
    display: block;
    position: fixed;
    color: #CFCFCF;
    font-size: 37px;
    top: 3px;
	left: 4px;
    margin: 8px;
  }
  #mobileNav span {
    display: block;
  }
}

#side {
  position: fixed;
  top: 40%;
  left: 0;
}
@media (max-width: 767px) {
  #side {
    display: none;
  }
}
#side:hover p {
  opacity: 1;
}
#side ul {
  padding-left: 12px;
  list-style: none;
}
#side .indicator {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 20px;
  border: 2px solid #5e5e5e;
  transition: background-color 300ms ease-in-out;
}
#side .active .indicator {
  background-color: #888888;
}
#side .active p {
  color: white;
  text-shadow: 0px 0px 26px black;
}
#side p {
  display: inline-block;
  transition: opacity 200ms ease-in-out, color 200ms ease-in-out;
  color: #888888;
  margin-left: 10px;
}
@media (min-width: 768px) {
  #side p {
    opacity: 0;
  }
}
#side p:hover {
  color: white;
}
#side #sideTickets {
  display: inline-block;
  color: #5e5e5e;
}

/* SPLASH SCREEN
---------------------------------------*/
#splashScreen {
  min-height: 100%;
}

#siteHead {
  margin-top: 60px;
  margin-bottom: 20px;
}

#siteTitle {
  margin-top: -424px;
  text-shadow: 0px 0px 4px #707070;
}
@media (max-width: 1199px) {
  #siteTitle {
    margin-top: -355px;
  }
}
@media (max-width: 991px) {
  #siteTitle {
    margin-top: -275px;
  }
}
@media (max-width: 767px) {
  #siteTitle {
    margin-top: 0;
    line-height: 1em;
  }
}

#siteTagline {
  margin-top: 0px;
  font-weight: 500;
  text-shadow: 0px 0px 4px black;
}
@media (max-width: 991px) {
  #siteTagline {
    margin-top: 165px;
  }
}
@media (max-width: 767px) {
  #siteTagline {
    margin-top: 30px;
    font-size: 25px;
  }
}

#siteDate {
  margin-top: -30px;
  margin-right: 83px;
  font-weight: 700;
  text-shadow: 0px 0px 2px #707070;
}
@media (max-width: 767px) {
  #siteDate {
    margin: 0;
    text-align: center;
  }
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */