﻿@using System.Threading
@{
    Thread.Sleep(5000);
}
<div class="row">
    <div class="col-md-4">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/Images/1.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/Images/2.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/Images/3.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/Images/4.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/Images/5.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="/Images/6.jpg" />
        </a>
    </div>
</div>
